:root {
--main-font:'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif;

/* text colors */
--main-txt-cl:#757575;
--secondary-txt-cl:#212121;

/* bacground colors */ 
--accent-cl:#2196F3;
--main-bg-cl: #ffffff;
--secondary-bg-cl: #2f303a;
}
/* Главная */
body {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}
a {
    text-decoration: none;
}
/* навигация */
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #2196F3;
}
.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #000000;
}
.item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;
}
.link {
    color: currentColor;
}
.link:hover,
.link:focus {
    color: #2196F3;
}
/* .link:active {
    color: #2196F3;
} */
/* [href$="html"] {
    color: #2196F3;
} */

/* контакты */
.contacts-link,
.contacts-list,
.features-list .features-item,
.list-item .item,
.work-list .work-item,
.team-list .team-item,
.filter-list .filter-item,
.work-examples-list .examples-item,
.footer-contacts-list .contacts-list,
.footer-contacts-list .contacts-link {
    list-style: none;
}
.mail,
.phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #757575;
}
.mail:hover,
.mail:focus {
    color: #2196F3;
}

/* основная часть */
/* hero */
.hero {
    background-color: #2F303A;
}
.title-first {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.button {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: currentColor;
    background-color: #2196F3;

    cursor: pointer;
}

/* особенности */

.title-third {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}
.features-text {
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #757575;
}

/* виды работ */

.work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

/* команда */

.employees {
    background-color: #F5F4FA;
}
.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}
.title-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}
.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

/* футер */

.logo-contacts {
    background-color: #2F303A;
}
.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}
/* .contacts-list:hover,
.contacts-list:focus {
    color: #2196F3;
}
.contacts-link:hover,
.contacts-link:focus {
    color: #2196F3;
} */
.contacts-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}
.contacts-list {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */

/* кнопки фильтра */

.filter-button-first {
    background-color: #2196F3;
}
.filter-button-first,
.filter-button {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    color: currentColor;
    background-color: #F5F4FA;
    cursor: pointer;
}
.filter-list .filter-item .filter-button:hover,
.filter-list .filter-item .filter-button:focus,
.filter-list .filter-item .filter-button-first:hover,
.filter-list .filter-item .filter-button-first:focus {
    background-color: #2196F3;
}
.filter-item {
    font-family: inherit;
}

/* примеры работ */

.examples-item {
    background-color: #FFFFFF
}
.header-example {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: #212121;
}

.text-example {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: #757575;
}


